# Build Folders
bin/
obj/

# Publish output
publish/

# Visual Studio / Rider / VS Code files
*.user
*.suo
*.vscode/
*.idea/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec

# Logs
*.log

# Secrets / sensitive files
appsettings.json
appsettings.Development.json
*.secret.json

# Rider / IntelliJ specific
.idea/

# Mac / OS specific
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp
